@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 769px) {
  .menu-icon-edited {
    display: none !important;
  }
  .n2d {
    display: none !important ;
  }
  .menux-created {
    display: none !important;
  }
}
@media (max-width: 768px) {
  section .image {
    display: none;
  }
  .n2d {
    display: none;
  }
  .menu-icon-edited {
    display: flex;
  }
  .nav-edited .container .links-edited ul {
    display: none;
  }
  @media (max-width: 552px) {
    .nav-edited .container {
      width: 100%;
      padding: 0 10px;
    }
    .home-content {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .home-content h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 30px;
    }
    .home-content p {
      font-size: 1.4rem;
      line-height: 2;
      max-width: 310px;
      text-align: center;
    }
  }
}
